version: 0.2

env:
  shell: bash

phases:
  build:
    commands:
      - echo "Provisioning Pipelines from deploy/ directory structure..."
      - chmod +x ./scripts/provision-pipelines.sh
      - ./scripts/provision-pipelines.sh

  post_build:
    commands:
      - echo "Pipeline provisioning complete."
      - echo "Check AWS Console CodePipeline to see created pipelines."
