{{- if .Values.hyperfleetSystem.api.enabled -}}
{{- $existingSecret := lookup "v1" "Secret" .Values.hyperfleetSystem.namespace "postgresql-credentials" -}}
{{- $dbPassword := "" -}}
{{- if $existingSecret -}}
  {{- $dbPassword = index $existingSecret.data "password" | b64dec -}}
{{- else if .Values.hyperfleetSystem.postgresql.database.password -}}
  {{- $dbPassword = .Values.hyperfleetSystem.postgresql.database.password -}}
{{- else -}}
  {{- $dbPassword = randAlphaNum 32 -}}
{{- end -}}
apiVersion: v1
kind: Secret
metadata:
  name: hyperfleet-api-db-secrets
  namespace: {{ .Values.hyperfleetSystem.namespace }}
  labels:
    {{- include "hyperfleet-system.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
type: Opaque
stringData:
  db.host: postgresql.{{ .Values.hyperfleetSystem.namespace }}.svc.cluster.local
  db.port: {{ .Values.hyperfleetSystem.postgresql.service.port | quote }}
  db.name: {{ .Values.hyperfleetSystem.postgresql.database.name }}
  db.user: {{ .Values.hyperfleetSystem.postgresql.database.username }}
  db.password: {{ $dbPassword }}
{{- end }}
