{
  "account_id": {{ account_id|tojson }},
  "region": {{ aws_region|tojson }},
  "alias": {{ ("regional-" ~ region_alias)|tojson }},
  "region_alias": {{ region_alias|tojson }},
  "environment": {{ environment|tojson }},
  "app_code": {{ terraform_vars.app_code|tojson }},
  "service_phase": {{ terraform_vars.service_phase|tojson }},
  "cost_center": {{ terraform_vars.cost_center|tojson }}
}
