# sectors:  shared defaults (values, terraform_vars); each has a name and environment
# shards:   region deployments; reference a sector, inherit its config
# Inheritance: sector `values` & `terraform_vars` deep-merged into shard (shard wins)
# Templating:  Jinja2 on all strings, resolved after merge. e.g. "{{ region }}"

sectors:
  - name: "integration"
    environment: "integration"
    terraform_vars:
      app_code: "infra"
      service_phase: "dev"
      cost_center: "000"
    values:
      management-cluster:
        hypershift:
          oidcStorageS3Bucket:
            name: "hypershift-mc-{{ region }}"
            region: "{{ region }}"
          externalDns:
            domain: "dev.{{ region }}.rosa.example.com"


  - name: "staging"
    environment: "staging"
    terraform_vars:
      app_code: "infra"
      service_phase: "staging"
      cost_center: "000"
    values:
      management-cluster:
        hypershift:
          oidcStorageS3Bucket:
            name: "hypershift-mc-{{ region }}"
            region: "{{ region }}"
          externalDns:
            domain: "dev.{{ region }}.rosa.example.com"

shards:
  - region: "eu-west-1"
    sector: "integration"

  - region: "us-east-1"
    sector: "integration"

  - region: "us-east-2"
    sector: "integration"
    values:
      regional-cluster:
        maestro:
          mqttEndpoint: "xxx.iot.{{ region }}.amazonaws.com"
        someOtherSetting: "value"

  - region: "eu-west-1"
    sector: "staging"
    config_revision:
      management-cluster: "826fa76d08fc2ce87c863196e52d5a4fa9259a82"
      regional-cluster: "826fa76d08fc2ce87c863196e52d5a4fa9259a82"
